<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= _.capitalize(_.humanize(appname)) %></title>
  </head>
  <body>

    <<%= _.slugify(appname) %>>Loading...</<%= _.slugify(appname) %>>

    <script src="lib/dist/es6-shim.js"></script>

    <script>
      System.paths = {
        'angular2/*':'lib/angular2/*.js',
        'rtts_assert/*': 'lib/rtts_assert/*.js',
        'index': 'index.js'
      };
      System.import('index').then(function(module) {
        module.main();
      }, console.log.bind(console));
    </script>

  </body>
</html>